<html>

  <head>

    <!-- General settings -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Blog!</title>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.deep_purple-deep_orange.min.css">
    <link rel="stylesheet" href="static/styles/login.css">

  </head>

  <body>

    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Cadastro</h2>
          </div>
          <form method="post">
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Usuário</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="email" name="email">
                <label class="mdl-textfield__label" for="email">E-mail</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Senha</label>
              </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Cadastrar</button>
              <button id="button" type="button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Fazer Login</button>
              <script>
              	var botao= document.getElementById("button");
              	botao.onclick =function(){
              		window.location.href = "login"
              	}
              </script>
            </div>
            
          </form>
        </div>
      </main>
    </div>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
  </body>
</html>